.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav__link {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  transition: opacity 0.5s ease;
}

.nav__link:hover {
  opacity: 0.5;
}
